
.vs/Cine/config/applicationhost.config
.vs/Cine/v16/.suo
.vs/Cine/v16/Server/sqlite3/storage.ide
.vs/Cine/v16/Server/sqlite3/storage.ide-shm
.vs/Cine/v16/Server/sqlite3/storage.ide-wal
Cine/App_Data/CineContext.mdf
Cine/App_Data/CineContext_log.ldf
Cine/bin/Cine.dll
Cine/bin/Cine.pdb
.vs/Cine/config/applicationhost.config
.vs/Cine/v16/.suo
.vs/Cine/v16/Server/sqlite3/storage.ide
.vs/Cine/v16/Server/sqlite3/storage.ide-wal
Cine/App_Data/CineContext.mdf
Cine/App_Data/CineContext_log.ldf
Cine/bin/Cine.dll
Cine/bin/Cine.pdb
*.mdf
*.ide-wal
*.ide
/packages
/.vs
