
.vs/Cine/config/applicationhost.config
.vs/Cine/v16/.suo
.vs/Cine/v16/Server/sqlite3/storage.ide
.vs/Cine/v16/Server/sqlite3/storage.ide-shm
.vs/Cine/v16/Server/sqlite3/storage.ide-wal
Cine/App_Data/CineContext.mdf
Cine/App_Data/CineContext_log.ldf
Cine/bin/Cine.dll
Cine/bin/Cine.pdb
.vs/Cine/config/applicationhost.config
.vs/Cine/v16/.suo
.vs/Cine/v16/Server/sqlite3/storage.ide
.vs/Cine/v16/Server/sqlite3/storage.ide-wal
Cine/App_Data/CineContext.mdf
Cine/App_Data/CineContext_log.ldf
Cine/bin/Cine.dll
Cine/bin/Cine.pdb
*.mdf
*.ide-wal
*.ide
/packages
/.vs
packages/bootstrap.5.0.1/content/Content/bootstrap-grid.css
packages/bootstrap.5.0.1/content/Content/bootstrap-grid.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap-grid.rtl.css
packages/bootstrap.5.0.1/content/Content/bootstrap-grid.rtl.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap-reboot.css
packages/bootstrap.5.0.1/content/Content/bootstrap-reboot.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap-reboot.rtl.css
packages/bootstrap.5.0.1/content/Content/bootstrap-reboot.rtl.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap-utilities.css
packages/bootstrap.5.0.1/content/Content/bootstrap-utilities.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap-utilities.rtl.css
packages/bootstrap.5.0.1/content/Content/bootstrap-utilities.rtl.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap.css
packages/bootstrap.5.0.1/content/Content/bootstrap.min.css
packages/bootstrap.5.0.1/content/Content/bootstrap.rtl.css
packages/bootstrap.5.0.1/content/Content/bootstrap.rtl.min.css
packages/bootstrap.5.0.1/content/Scripts/bootstrap.bundle.js
packages/bootstrap.5.0.1/content/Scripts/bootstrap.bundle.min.js
packages/bootstrap.5.0.1/content/Scripts/bootstrap.esm.js
packages/bootstrap.5.0.1/content/Scripts/bootstrap.esm.min.js
packages/bootstrap.5.0.1/content/Scripts/bootstrap.js
packages/bootstrap.5.0.1/content/Scripts/bootstrap.min.js
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-grid.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-grid.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-grid.rtl.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-grid.rtl.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-reboot.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-reboot.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-reboot.rtl.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-reboot.rtl.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-utilities.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-utilities.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-utilities.rtl.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap-utilities.rtl.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap.rtl.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/css/bootstrap.rtl.min.css
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/js/bootstrap.bundle.js
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/js/bootstrap.bundle.min.js
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/js/bootstrap.esm.js
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/js/bootstrap.esm.min.js
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/js/bootstrap.js
packages/bootstrap.5.0.1/contentFiles/any/any/wwwroot/js/bootstrap.min.js
.vs/Cine/config/applicationhost.config
.vs/Cine/v16/.suo
.vs/Cine/v16/Server/sqlite3/storage.ide
.vs/Cine/v16/Server/sqlite3/storage.ide-wal
