@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <div id="title">
        <span>CINE</span>
        <span id="plus">+ +</span>
    </div>
    <div id="description">
        <div id="about">
            Bienvenido a <span id="titleSpan">CINE++</span>. Aquí podrás ver nuestro variado catálogo de peliculas. Si
            eres socio por cada ticket comprado ganaras puntos que podras despues canjear y ver otras pelis
            <strong>GRATIS</strong>.
        </div>
        <div id="showCatalog">Ver Catálogo</div>
    </div>
</div>

<img id="popcorn" src="@Url.Content("~/Content/Images/popcorn.png")" alt="popCorn">
<img class="corn" id="corn1" src="@Url.Content("~/Content/Images/corn1.png")" alt="corn">
<img class="corn" id="corn2" src="@Url.Content("~/Content/Images/corn2.png")" alt="corn">
<img class="corn" id="corn3" src="@Url.Content("~/Content/Images/corn3.png")" alt="corn">