@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Su registro como socio ha sido exitoso!</h2>
<p>Su <i>Id de Socio</i> es @TempData["Id"], apúntelo pues esta será su forma permanente de identificación.</p>
