@model Cine.ViewModels.EstadisticasFormModel

@{
    ViewBag.Title = "Estadísticas - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Details", "Estadisticas", FormMethod.Post))
{
    <div class="container">
        <div class="row p-2">
            @Html.DropDownList(
               "Opción",
               EnumHelper.GetSelectList(typeof(Cine.Data.CriterioEst)),
               "Seleccione una estadística a mostrar...",
               new { @class = "form-control" }
            )
        </div>
        <div class="row p-2 text-center">
            <div class="col">
                @Html.EditorFor(model => model.desde, new { htmlAttributes = new { @type = "date" } })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.hasta, new { htmlAttributes = new { @type = "date" } })
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}