@model Cine.ViewModels.EstadisticasFormModel

@{
    ViewBag.Title = "Estadísticas - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.DropDownList(
           "Opción",
           EnumHelper.GetSelectList(typeof(Cine.Data.CriterioEst)),
           "Seleccione una estadística a mostrar...",
           new { @class = "form-control" }
        )
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.desde, additionalViewData: new { @type = "date" })
        @Html.EditorFor(model => model.hasta, additionalViewData: new { @type = "date" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}