@model Dictionary<string,int>

@{
    ViewBag.Title = "Estadísticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="py-2">Estadísticas principales:</h2>
<div class="container py-1">
    <div class="row row-cols row-cols-md-2 g-4 mx-lg-5 mx-xl-5">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card mx-md-5">
                    <div class="card-body">
                        <h5 class="card-title">@item.Key</h5>
                        <p class="card-text">@item.Value</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-center py-4">
    @Html.ActionLink("Detalles", "Details", "Estadisticas",
                     null, new { @class = "btn btn-primary" })
</div>