@model Cine.ViewModels.EstadisticasShowModel

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Model.Header
        </th>
        <th>
            Ventas
        </th>
    </tr>

    @foreach (var item in Model.data)
    {
        <tr>
            <td>
                @item.Key
            </td>
            <td>
                @item.Value
            </td>
        </tr>
    }

</table>
